* {	
	-webkit-box-sizing:border-box;
	box-sizing: border:border-box;
}   

label, input{
	display: block;
	border-radius: 3px;
	text-align:left;
	margin: 2px auto;
}

body{
	margin:0;
}



h1{
	color: rgb(124,252,0);
	text-shadow: 1px 1px black;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

nav {
	border: 1px solid black;
	min-height: 130px;
	width:101%;
	margin-bottom: 5px;
}

li {
	text-align: left,
	padding: 2px;
}

nav ul{
	margin: 50px 0;
	text-align: left;
}

nav li{
	display: inline;
	margin-right: 5px;
} 

.choices, li{
	text-align: center;
	list-style: none;
}

.choices li{
	padding:5px;
	font-weight: bold;
}

p,h1 {
	max-width:50%;
	margin: 5px auto;
	text-align: left;
}

p{
	font-size:1.2em;
}

.content-format {
	padding: 10px;
}

img{
	float: right;
	padding: 5px;
	margin-right: 10px;
}

nav a{
	color: rgb(0,100,0);
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: underline;
}

a:hover{
	color: #000;
	text-decoration: none;
}

legend{
	text-align: center;
	font-weight: bold;
	margin-bottom: 2px;
}

.container{
	width: 80%;
	margin: 0 auto;
}

.login, .register{
	border: solid black 1px;
	border-radius: 3px;
	max-width: 350px;
	margin: 20px auto 20px auto;
	background-color: rgb(232,232,232);
	padding: 5px;
}


.register button, .login button {
	display:block;
}


button{
	background-color: rgb(0,100,0);
	color: rgb(255,255,255);
	margin: auto;
	border: solid rgb(232,232,232) 1px;
	border-radius: 3px;
	margin-bottom:10px;
	max-width:200px;
	padding: 10px;
}

.tripResults label{
	font-weight: bold;
}
.updateTrip{
	display: inline;
}

#updateMail{
	display: block;
	margin: 5px auto;
}

.addTrip{
	text-align: center;
	border: solid black 1px;
	margin: auto;
	padding: 5px;
	width: 60%;
	border-radius: 3px;
}

.addTrip textarea {
	display: inline;
	max-width: 33%;
}
.addtrip input, label{
	display: block;
	text-align: center;
	width: 33% !important;
	margin: auto;
}

.addtrip input{
	width: 33%;
}

.tripResults {
	border: solid black 1px;
	border-radius: 3px;
}

select{
	display: block;
	margin: auto;
}


h2{
	text-align: center;
}

.tripResults label{
	margin-bottom: 2px 0;
}

.tripResults li{
	text-align: left;
	background-color: rgb(152,251,152);
	border: dotted gray 1px;
	border-radius: 3px;
	margin: 5px;
	padding: 10px;
	position: relative;
}



.updateTrip{
	position: absolute;
	right:0;
	padding: 2px;
	margin-right: 4px;
}

.deletePost {
	position: absolute;
	right:100px;
	padding: 2px;
}

textarea{
	display:block;
	padding: 5px;
	margin: auto;
}